body {
    background-color: aliceblue;
}

  .wrapper {
max-width: 500px;
margin: auto;
  }  
  
h1 {
    font-size: 45pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h3 {
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    background-color: #2362ea;
    font: outline; color: #ffffff;
}