#.gitignore
*.psd
<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Like Tears in Rain</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>


</body>
</html>